html {
    font-family: sans-serif;
}
body {
    background-color: #395B50;
    overflow: hidden;
}
header {
    background-color: #013220;
    position: absolute;
    left: -20px;
    top: -10px;
    padding: 1rem;
    height: 100%;
    border-right: gray 0.5rem solid;
    transform: rotate(2deg);
}
header h1, header nav {
    transform: rotate(-2deg);
}
header h1 {
    color: white;
}
nav li a{
    color: white;
    text-decoration: none;
    font-size: 135%;
}
nav li:first-child {
    margin-top: 3rem;
}
nav li {
    margin-top: 1rem;
}
nav ul {
    list-style-type: none;
    margin-left: -1em; 
}
nav li a:hover {
    animation-name: moveListItemNav;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
main img {
    position: absolute;
    top: -5px;
    right: -10rem;
    height: 105%;
    border-left: 0.5rem solid gray;
    float: right;
    transform: rotate(2deg);
}
main img:hover {
    animation-name: moveBannerTxemlin;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
main {
    color:  #fafafa;
}
.current {
    color: gray;
}
main h1 {
    text-align: center;
    width: 93%;
    margin-top: 3%;
    font-size: 220%;
}
main p {
    margin-left: 29%;
    margin-top: 2%;
    width: 35%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 120%;
}
@keyframes moveListItemNav {
    from {
       padding-left: 0em;
    }
    to {
       padding-left: 0.3em;
    }
}
@keyframes moveBannerTxemlin {
    from {
        right: -10rem;
        transform: scale(1);
        transform: rotate(2deg);
     }
     to {
        right: -5rem;
        transform: rotate(0deg);
        transform: scale(1.1);
     }
}